body {
    background-color: #E19E90;
}

h1 {
    color: white;
    opacity: 0.2;
    font-size: 150px;
    text-align: center;
    position: relative;
    top:0%;
    font-family: 'Merriweather', serif;

}

#top, #bottom, #left, #right {
	background: #FFFFFF;
	position: fixed;
}
#left, #right {
	top: 0; bottom: 0;
	width: 20px;
}
#left {left: 0;}
#right {right: 0;}
#top, #bottom {
	left: 0; right: 0;
	height: 20px;
}
#top {top: 0;}
#bottom {bottom: 0;}